# Core
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Database
sqlalchemy
alembic
psycopg2-binary
asyncpg

# Auth
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Utils
python-dotenv
